<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="static/images/logoVgolden.png" />
		<title>Victor Dorado</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<!--fonts-->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Source+Code+Pro:400,500,600,700"
			type="text/css"
			media="screen"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:900"
			rel="stylesheet"
		/>

		<link
			type="text/css"
			rel="stylesheet"
			href="{{ url_for('static', filename = 'css/base.css') }}"
		/>
		<script async src="https://www.google-analytics.com/analytics.js"></script>
		<script async src="static/js/autotrack.js"></script>

		<script
			type="text/javascript"
			src="{{ url_for('static', filename = '/js/nav.js') }}"
		></script>
		{% block head %} {% endblock %}
	</head>
	<body>
		<!-- SECTION: Navigation -->
		<nav>
			<div class="logo">
				<img src="static/images/logoVgolden.svg" alt="Logo Image" />
			</div>
			<div class="hamburger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<ul class="nav-links">
				<li><a href="/">Home</a></li>
				<li><a href="/about">Sobre mí</a></li>
				<li><a href="/studies">Estudios</a></li>
				<li><a href="/experience">Experiencia</a></li>
				<li><a href="/skills">Skills</a></li>
				<li><a href="/certificates">Certificaciones</a></li>
				<li><a href="/contact">Contacto</a></li>
			</ul>
		</nav>
		<!-- END SECTION: Navigation -->
		<script src="static/js/nav.js"></script>
		{% block body %} {% endblock %}
	</body>
</html>
